.profile__button-edit {
  height: 24px;
  width: 24px;
}

.profile__button-edit:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 1279px) {
  .profile__button-edit {
    height: 18px;
    width: 18px;
  }
}
